.todo-list.zero-ht {
  height: 0;
}

.todo {
  transition: all 0.6s ease;
}

.todo-enter {
  opacity: 0;
  height: 0;
  transform: translateY(-60%);
}

.todo-enter-active {
  opacity: 1;
  height: 64px;
  transform: translateY(0);
}

.todo-exit-active {
  opacity: 0;
  transform: scale(0.3);
}
